@{
    ViewBag.Title = "BookingSuccess";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="container" style="margin-top:150px" align="center">
    <div class="page-header">
        <h1 style="margin-bottom:30px;color:green">ĐẶT LỊCH THÀNH CÔNG</h1>

        <img src="~/Content/Images/BookingSuccess.png" width="100px"/>

        <p style="margin-top:30px">Cảm ơn bạn đã lựa chọn Medical, bộ phận chăm sóc khách hàng sẽ liên hệ với bạn trong thời gian sớm nhất để xác nhận.</p>

        <p>Thay mặt Trung Tâm Dịch Vụ Y Tế Medical xin kính chúc quý khách dồi dào sức khỏe và thành công trong công việc.</p>

        <p>Xin trân trọng cảm ơn !</p>
    </div>
</div>

